:root{
    --vp-code-bg: #ffd670;
    --vp-code-color: #14213d;
    --vp-code-block-bg: #1f1f23;
    --vp-code-block-color: #f8f8f2;

    --vp-c-brand-1: #57cc99;
    --vp-c-brand-2: #57cc99;
    --vp-c-brand-3: #57cc99;
}
